.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .navbar-logo{
    display: flex;
    align-items: center;
    margin-left:150px;
    font-size: 24px;
    color:white;
  }
  
  .navbar-logo h3 {
    margin: 0;
  }
  
  .navbar-links {
    display: flex;
    justify-content: flex-end; 
    flex-grow: 1;
  }
  
  .navbar-links a {
    margin-left: 10px; 
    text-decoration: none;
    color:black;
    font-size: 18px;
  }

  .navbar-links a:active, .navbar-links a:hover{
    color: black; /* Change the text color */
    font-weight: bold; /* Make the text bold */
    border-bottom: 2px solid black; /* Change the background color */
  } 
  
  .navbar-buttons {
    display: flex;
    justify-content: flex-end;
  }
  
  .navbar-buttons button {
    margin-left: 20px; 
    margin-right:150px;
    border: none;
    border-radius:20px;
    background-color: transparent;
    color:white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    border:2px solid white;
    padding: 5px 20px;
  }

  .image-container {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    z-index: -1;
    height:50%;
    width:100%;
  }
      
.image-container img {
        width: 100%;
        height:100%;
}
      
.text-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
        width: 100%;
}
      
      .search-bar {
        display: inline-block;
        margin-top: 20px;
        width: 20%;
        border-radius: 25px;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
      }
      
      .search-button {
        display: inline-block;
        margin-top: 20px;
        margin-left: 10px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 25px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
      }
      
      @media only screen and (max-width: 600px) {
        .search-bar {
          width: 70%;
        }
      }

      .sort-dropdown {
        position: absolute;
        top: 55%;
        right: 50px;
        transform: translateY(-55%);
      }

      .sort-button button{
        color: black;
        background-color: white;
        border: 1px solid lightgray;
        border-radius: 10px;
        padding: 7px 10px;
        font-size: 13px;
        cursor: pointer;
      }
    
      
      .sort-dropdown-content {
        display: none;
        position: absolute;
        z-index: 1;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        border-radius: 25px;
        padding: 10px 0;
        right: 0;
      }
      
      .sort-dropdown button:hover{
        background-color: #ddd;
      }

      .sort-dropdown:hover .sort-dropdown-content {
        display: block;
      }
      
      .sort-dropdown-content a {
        color: black;
        padding: 8px 16px;
        text-decoration: none;
        display: block;
      }
      
      .sort-dropdown-content a:hover {
        background-color: #ddd;
        text-decoration: none;
        color:black
      }
      
      .filters-container {
        position: absolute;
        top: 55%;
        right:225px;
        transform: translateY(-50%);
      }
      
       .filters-container button {
        color: black;
        background-color: white;
        border: 1px solid lightgray;
        border-radius: 10px;
        padding: 7px 10px;
        font-size: 13px;
        cursor: pointer;
        margin-right: 10px;
        transition: 0.5s ease;
      }

      .filters-container button:hover{
        background-color: #ddd;
      }

      .submit-button{
        color: black;
        background-color: lightblue;
        border: 1px solid lightgray;
        border-radius: 10px;
        padding: 7px 10px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 13px;
        cursor: pointer;
        margin-right: 10px;
        margin-top: 50px;
        transition: 0.5s ease;
      }

      .submit-button:hover{
        background-color: lightskyblue;
      }

      .title-box-d {
        padding-bottom: 1.8rem;
        margin-bottom: 1rem;
        position: relative;
      }

      .title-box-d .title-d {
        font-weight: 600;
        font-size: 2rem;
      }
      
      .title-box-d .title-d:after {
        content: "";
        position: absolute;
        width: 70px;
        height: 4px;
        background-color: lightblue;
        bottom: 20px;
        left: 0;
      }

.box-collapse {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 1040;
  background-color: #ffffff;
  transform: translateX(100%);
  transition: all 0.6s ease;
}

@media (min-width: 768px) {
  .box-collapse {
    width: 50%;
  }
}

.box-collapse .title-box-d {
  top: 30px;
  left: 60px;
  opacity: 0;
  transition: all 1s ease;
  transition-delay: 0.3s;
}

@media (max-width: 575px) {
  .box-collapse .title-box-d {
    left: 35px;
  }
}

@media (max-width: 575px) {
  .box-collapse .title-box-d .title-d {
    font-size: 1.3rem;
  }
}

.box-collapse-wrap {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 6.5rem;
  bottom: 5rem;
  padding-left: 10%;
  padding-right: 10%;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  transform: translateY(3rem);
  transition: transform 0.5s 0.5s ease, opacity 0.5s 0.5s ease;
}

.box-collapse-open .click-closed {
  visibility: visible;
}

.box-collapse-open .box-collapse {
  transform: translateX(0);
  box-shadow: 0 0 65px rgba(0, 0, 0, 0.07);
  opacity: 1;
}

.box-collapse-open .box-collapse .title-box-d {
  transform: translate(0);
  opacity: 1;
}

.box-collapse-open .box-collapse-wrap {
  transform: translate(0);
  opacity: 1;
}

.box-collapse-closed .box-collapse {
  opacity: 0.7;
  transition-delay: 0s;
}

.box-collapse-closed .box-collapse .title-box-d {
  opacity: 0;
  transition-delay: 0s;
}

.box-collapse-closed .box-collapse .form-a {
  opacity: 0;
  transition-delay: 0s;
}

.click-closed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  z-index: 1035;
  background-color: #000000;
  opacity: 0.4;
}

.close-box-collapse {
  position: absolute;
  z-index: 1050;
  top: 2rem;
  font-size: 3.5rem;
  line-height: 1;
  color: #000000;
  cursor: pointer;
  transition: all 0.3s ease;
}

.right-boxed {
  right: 4.2857rem;
}

/*--------------------------------------------------------------
# Card General
--------------------------------------------------------------*/
@media (max-width: 767px) {

  .card-box-a,
  .card-box-b,
  .card-box-c,
  .card-box-d {
    margin-bottom: 2.5rem;
    margin-top:65%;
  }
}

.card-box-a span,
.card-box-b span,
.card-box-c span,
.card-box-d span {
  line-height: 0;
}

@media (min-width: 768px) {

  .grid .card-box-a,
  .grid .card-box-b,
  .grid .card-box-c,
  .grid .card-box-d {
    margin-bottom: 2.5rem;
    margin-top:65%;
  }
}

.card-box-a,
.card-box-b,
.card-box-d {
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin-top:65%;
}

.card-box-a .img-a,
.card-box-a .img-b,
.card-box-b .img-a,
.card-box-b .img-b {
  transition: 0.8s all ease-in-out;
}

@media (min-width: 768px) {

  .card-box-a:hover .img-a,
  .card-box-a:hover .img-b,
  .card-box-b:hover .img-a,
  .card-box-b:hover .img-b {
    transform: scale(1.2);
  }
}

@media (min-width: 768px) {

  .card-box-a .price-a,
  .card-box-b .price-a {
    font-size: 0.9rem;
  }
}

@media (min-width: 992px) {

  .card-box-a .price-a,
  .card-box-b .price-a {
    font-size: 1rem;
  }
}

.card-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.card-shadow {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-shadow:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 27%, rgba(0, 0, 0, 0.65) 90%);
}

/*======================================
//--//-->   PROPERTY - CARD-A
======================================*/
@media (min-width: 768px) {
  .card-box-a:hover .card-overlay-a-content {
    bottom: 60px;
  }
}

@media (min-width: 768px) and (min-width: 768px) {
  .card-box-a:hover .card-overlay-a-content {
    bottom: 60px;
  }
}

@media (min-width: 768px) and (min-width: 992px) {
  .card-box-a:hover .card-overlay-a-content {
    bottom: 64px;
  }
}

@media (min-width: 768px) {
  .card-box-a:hover .card-body-a {
    padding-bottom: 1rem;
  }
}

@media (max-width: 767px) {
  .card-box-a .card-overlay-a-content {
    bottom: 65px;
  }

  .card-box-a .card-body-a {
    padding-bottom: 1rem;
  }
}

.card-overlay-a-content {
  transition: all 0.5s ease-in;
  position: absolute;
  width: 100%;
  bottom: 0px;
  z-index: 2;
}

@media (min-width: 768px) {
  .card-overlay-a-content {
    bottom: -20px;
  }
}

@media (min-width: 992px) {
  .card-overlay-a-content {
    bottom: 0px;
  }
}

.card-header-a {
  padding: 0 1rem;
}

.card-header-a .card-title-a {
  color: #ffffff;
  margin-bottom: 0;
  padding-bottom: 0.7rem;
}

@media (min-width: 768px) {
  .card-header-a .card-title-a {
    font-size: 1.3rem;
  }
}

@media (min-width: 992px) {
  .card-header-a .card-title-a {
    font-size: 2rem;
  }
}

.card-header-a .card-title-a a {
  color: #ffffff;
  text-decoration: none;
}

.card-body-a {
  z-index: 2;
  transition: all 0.5s ease-in;
  padding: 0rem 1rem 2rem 1rem;
}

.card-body-a .price-box {
  padding-bottom: 0.5rem;
}

.price-a {
  color: #ffffff;
  padding: 0.6rem 0.8rem;
  border: 2px solid #2eca6a;
  border-radius: 50px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.card-footer-a {
  width: 100%;
  position: absolute;
  z-index: 2;
  background-color: #2eca6a;
}

.card-info {
  list-style: none;
  margin-bottom: 0;
  padding: 0.5rem 0;
}

.card-info .card-info-title {
  font-size: 1rem;
  color: #313131;
}

@media (min-width: 768px) {
  .card-info .card-info-title {
    font-size: 0.9rem;
  }
}

@media (min-width: 992px) {
  .card-info .card-info-title {
    font-size: 1rem;
  }
}

.card-info li span {
  color: #ffffff;
  font-size: 0.9rem;
}

@media (min-width: 768px) {
  .card-info li span {
    font-size: 0.8rem;
  }
}

@media (min-width: 992px) {
  .card-info li span {
    font-size: 1rem;
  }
}

/*------/ Property Grid /-----*/
.property-grid .grid-option {
  text-align: right;
  margin-bottom: 2rem;
}

.property-grid .grid-option .custom-select {
  border-radius: 0;
  width: 200px;
  border-color: #313131;
}

.property-grid .grid-option .custom-select:hover,
.property-grid .grid-option .custom-select:active,
.property-grid .grid-option .custom-select:focus {
  border-color: #313131;
}

.property-grid .grid-option .custom-select option {
  border-color: #313131;
}

/*------/ Property Single /-----*/
.gallery-property {
  margin-bottom: 3rem;
}

.property-price {
  margin: 0 auto;
}

.property-price .card-header-c {
  padding: 0;
}

.summary-list {
  padding-right: 1rem;
  color: #000000;
}

.summary-list .list {
  padding: 0;
  line-height: 2;
}

.summary-list .list span {
  color: #555555;
}

@media (max-width: 767px) {
  .property-agent {
    margin-top: 2.5rem;
  }
}

.property-agent .title-agent {
  font-weight: 600;
}

.property-agent ul {
  line-height: 2;
  color: #000000;
}

.property-agent .socials-a {
  text-align: center;
}

@media (max-width: 991px) {
  .property-contact {
    margin-top: 2.5rem;
  }
}